.div-1 {
    height: 420px;
    width: 100%;
    background-image: url("/view/html/img/backround\ final.jpeg");
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form {
    width: 300px;
    height: 350px;
    position: relative;
    margin: 6% auto;
    background: #ffffff;
    padding: 5px;
    overflow: hidden;
}

.button {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.button1 {
    width: 240px;
    padding: 10px 50px 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.input {
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input2 {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 1px solid rgb(189, 127, 127);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
    background: transparent;
}

.submit {
    width: 80%;
    padding: 10px 50px 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.chech-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}