.img1 {
    height: 300px;
    width: 380px;
    border: 1px solid #0e0d0d;
    margin: 0 4px;
}

.img2 {
    height: 300px;
    width: 350px;
    border: 1px solid #0a0a0a;
    margin: 0 4px;
}

.img3 {
    height: 200px;
    width: 100%;
    border: 1px solid #070707;
    margin: 0 4px;
}