<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/css/home.css">
    <title> web page</title>
</head>

<body>
    <div class="division1">
        <div>
            <h1>Library Mangement System</h1>
        </div>
        <div>
            <img src="/view/html/img/image.jpg" alt="image">
            <img src="/view/html/img/books-2.jpg" alt="image">
            <img src="/view/html/img/books.jpeg" alt="image">
        </div>
    </div>
    <div class="division2">
        <a class="active" href="HOME1.html">HOME</a>
        <a href="/view/html/admin.html"> ADMIN </a>
        <a href="/view/html/Book.html">BOOK</a>
        <a href="/view/html/Student.html">STUDENT</a>
        <a href="/view/html/Teacher.html">TEACHER</a>
    </div>

    <div class="division3">
        <div class="div3-1">
            <h2>Welcome To Library Management System</h2>
            <img src="/view/html/img/image2.jpg" alt="Library">
        </div>

        <div class="div3-2">
            <h2>Menu</h2>
            <ul>
                <li><a href="/view/html/HOME1.html">HOME</a></li>
                <li><a href="/view/html/admin.html">ADMIN</a></li>
                <li><a href="/view/html/Book.html">BOOK</a></li>
                <li><a href="/view/html/Student.html">STUDENT</a></li>
                <li><a href="/view/html/Teacher.html">TEACHER</a></li>
            </ul>
        </div>
    </div>

</body>

</html>